html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 216, 110);
    background-image: url(images/business\ card\ back\ transparent.png);
    background-repeat: no-repeat;
    background-size: 1000px auto;
}

.social-medias {
    display: inline-block;
    width: 20%;
}
.media-title {
    width: max-content;
}

.intro {
    display: block;
}